<div class="centered_container">
  <div class="morse_container" *ngFor='let _ of to_type_render; let i=index;'>
    <div class="morse_char"></div>
    <div [ngClass]="{'grey' : item.index > correct_counter}" class="morse_char" *ngFor='let item of to_type_render[i];'>
      {{encodeMorse(item.char)}}
    </div>
    <div class="morse_char"></div>
  </div>

  <div class="text_input_container">
    <input class="text_input" value="{{user_input}}" dir="rtl" (keyup)="onUserInput($event)">
    <div style="flex:1;"></div>
  </div>
</div>