<div class="centered_container">
  <div class="morse_container_container_container">
    <div class="morse_container_container" #morse_div>
      <div class="morse_container" *ngFor='let _ of to_type_render; let i=index;'>
        <div style="position: relative;" *ngFor='let item of to_type_render[i];'>
          <img [ngClass]="{
              'grey' : item.index <= 1 + correct_counter, 
              'red' : 
                  item.index == 1 + correct_counter &&
                  (this.current_char.toLowerCase() != this.to_type.charAt(this.correct_counter).toLowerCase() &&
                  this.current_char.toLowerCase() != '⍽'),
              'green': 
                  item.index == 1 + correct_counter &&
                  (this.current_char.toLowerCase() == this.to_type.charAt(this.correct_counter).toLowerCase() ||
                  this.current_char.toLowerCase() == '⍽')
          }" class="morse_char" src="{{getImage(item.char)}}" />
          <div *ngIf="help"  class="help-char"  >{{item.char}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="morse_container_container" #morse_div>

    <div class="text_input_container">
      <div class="text_input">{{user_input}}</div>
      <div [ngClass]="{
        'red' : 
          this.current_char.toLowerCase() != this.to_type.charAt(this.correct_counter).toLowerCase() && 
          this.current_char.toLowerCase() != '⍽', 
        'green' : this.current_char.toLowerCase() == this.to_type.charAt(this.correct_counter).toLowerCase() || 
          this.current_char.toLowerCase() == '⍽', 
        current_char:true
      }">
        {{current_char}}
      </div>
    </div>
  </div>
</div>