.text_input_container {
  display: flex;
  width: 100vw;
  height: 50pt;
  background: var(--morse-input-color);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  clip-path: inset(0 25% 0 25%);
  flex-direction: row;
  align-items: center;
}

.text_input {
  flex: 1;
  color: var(--morse-input-text-color);
  clip-path: inset(0 0 0 10%);
  width: 50%;
  font-size: 50pt;
  font-family: Rubik, sans-serif;
  text-align: right;
}

.morse_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 50vw;
}

.morse_container_container_container {
  height: calc(70px * 2);
  overflow: hidden;
  margin: 20px;
}

.morse_container_container {
  transition: transform 1s;
}

.morse_char {
  flex: 1;
  text-align: center;
  height: 70px;
  margin: 0;
  width: 10px;
  font-size: 30pt;
  font-weight: bold;
}

.centered_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grey {
  color: grey;
}

.green {
  color: green;
}

.red {
  color: red;
}

.current_char {
  flex: 1;
  text-align: left;
  font-size: 50pt;
  font-family: Rubik, sans-serif;
}