* {
  display: flex;
}

.char-container {
  width: 80vw;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.char-item {
  flex-direction: column;
  background-color: rgba(0, 0, 0, .3);
  margin: 10px;
  align-items: center;
  color: white;
  font-weight: bold;
  padding: 10px;
}

.hovering {
  background-color: rgba(0, 0, 0, .5);
}

.char-image {
  height: 95px;
  width: 95px;
}

.drop-it {
  height: 95px;
  width: 95px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 16pt;
}

.char-image-placeholder {
  height: 95px;
  width: 95px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.placeholder-text {
  font-weight: normal;
  font-size: 10pt;
  text-align: center;
  padding: 0 2px;
}

.button {
  font-weight: normal;
  font-size: 11pt;
  padding: 4 2px;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  height: 35px;
  width: 95px;
}

.accept-button-container {
  justify-content: center;
}

.accept-button {
  font-weight: normal;
  font-size: 16pt;
  font-weight: bold;
  padding: 4 2px;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  height: 70px;
  width: 200px;
  padding: 0 20px;
  color: white;
}

.deactivated{
  display: none;
}