<div>
  <app-top-nav></app-top-nav>
  <app-bottom-nav></app-bottom-nav>
  <div class="content_container">
    <container-element [ngSwitch]="current_page">
      <app-initial *ngSwitchCase="'initial'"></app-initial>
      <app-sign-in *ngSwitchCase="'sign-in'"></app-sign-in>
      <app-sign-up *ngSwitchCase="'sign-up'"></app-sign-up>
      <app-exercises *ngSwitchCase="'exercises'"></app-exercises>
      <app-dashboard *ngSwitchCase="'dashboard'"></app-dashboard>
      <app-settings *ngSwitchCase="'settings'"></app-settings>
      <app-learn-morse *ngSwitchCase="'learn-morse'"></app-learn-morse>
    </container-element>
  </div>
</div>
<div class="bubble_container">
  <div class="bubble1"></div>
  <div class="bubble2"></div>
  <div class="bubble3"></div>
  <div class="bubble4"></div>
</div>