<div class="outer_div">
    <div class='text_div'>
        <h1 class="title">Join Us at SymboLearn</h1>
        <h1 class="sub_title">With SymboLearn you can quickly learn and pratice morse code, sign language or even your own language</h1>
    </div>
    <div class="sign_up_box">
        <div class="box_item">
            <p class="attribute_text">Username:</p>
            <input type="text" class="attribute_input" />
        </div>
        <div class="box_item">
            <p class="attribute_text">Email:</p>
            <input type="text" class="attribute_input" />
        </div>
        <div class="box_item">
            <p class="attribute_text">Password:</p>
            <input type="password" class="attribute_input" />
        </div>
        <div class="box_item">
            <p class="attribute_text">Repeat Password:</p>
            <input type="password" class="attribute_input password_repeat_input" />
        </div>
        <div class="button orange_button">
            <p class="button_text" href="#">Join Us</p>
        </div>
    </div>
</div>