<div class="outer_div">
    <div class='text_div'>
        <div class="title_container">
            <h1 class="title">Join Us at SymboLearn</h1>
            <h1 class="sub_title">With SymboLearn you can quickly learn and practice <br> morse code, sign language or even your own language</h1>
        </div>
    </div>
    <div class="sign_up_box_container">
        <div class="sign_up_box">
            <div class="box_item">
                <div class="attribute_text">Username:</div>
                <input type="text" class="attribute_input" />
            </div>
            <div class="box_item">
                <div class="attribute_text">Email:</div>
                <input type="text" class="attribute_input password_repeat_input" />
            </div>
            <div class="box_item">
                <div class="attribute_text">Password:</div>
                <input type="password" class="attribute_input" />
            </div>
            <div class="box_item">
                <div class="attribute_text">Repeat Password:</div>
                <input type="password" class="attribute_input password_repeat_input" />
            </div>
            <div class="button orange_button">
                <div class="button_text" href="#">Create Account</div>
            </div>
        </div>
    </div>
</div>