<div class="container">
  <div class="arrow arrow-left" (click)="slide('left')">
    <img src="/assets/left_arrow.png" #left_arrow>
  </div>
  <div class="visible-container">
    <div class="smaller-grid-container animated" #smaller_slider>
      <div *ngFor="let card of small_cards_data">
        <app-small-card [title]=card.title [value]=card.value></app-small-card>
      </div>
    </div>
  </div>
  <div class="arrow arrow-right" (click)="slide('right')">
    <img src="/assets/right_arrow.png" #right_arrow>
  </div>
  <div class="arrow arrow-left bellow-left" (click)="slide_bellow('left')">
    <img src="/assets/left_arrow.png" #left_arrow_bellow>
  </div>
  <div class="bigger-visible-container">
    <div class="bigger-grid-container animated" #chart_slider> 
      <app-chart-card *ngFor="let chart of charts" [id]=chart.id [title]=chart.title [data]=chart.data
        [extra]=chart.extra></app-chart-card>
    </div>
  </div>
  <div class="arrow arrow-right bellow-right" (click)="slide_bellow('right')">
    <img src="/assets/right_arrow.png" #right_arrow_bellow>
  </div>
</div>