<div class="card-container">
    <div class="card">
        <div class="title">{{ exercise.title }}</div>
        <div class="sub_title">{{ exercise.subtitle }}</div>
        <div class="dev_by">Developed by</div>
        <div class="developer">{{ exercise.developer }}</div>
        <div class="stats">
            <div class="wpm">{{ exercise.stats.wpm }}</div>
            <div class="accuracy">{{ exercise.stats.accuracy }}</div>
        </div>
        <div class="attempt orange-button">Attempt</div>
    </div>
</div>