@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
* {
  font-family: Rubik, sans-serif;
}

:root {
}


/*
--main-text-color: #000;
    --main-bg-color: #ffffff;
    --primary-button-color: #ffc217;
    --primary-button-color-hover: #c08a00;
    --primary-button-color-active: #d69b04;
    --primary-button-text-color: #FFF;
    --secondary-button-color: #062742;
    --secondary-button-color-hover: #080f14;
    --secondary-button-color-active: #162835;
    --secondary-button-text-color: #FFF;
    --dropdown-color: #f9f9f9;
    --morse-input-color: #FFF;
    --morse-input-text-color: #000;
    --logo-grad-start: #000;
    --logo-grad-stop: #b6e4ee;
    --linear-gradient-start: #9ad5fd;
    --linear-gradient-stop: #6d8cff;
    --top-tab-text: #333;
    --bubbles-color: #ffdd3826;
    --bubbles-color-secondary: #38b6ff26;


    --main-text-color: #000;
    --main-bg-color: #ffffff;
    --primary-button-color: #dc91cc;
    --primary-button-color-hover: #c08a00;
    --primary-button-color-active: #d69b04;
    --primary-button-text-color: #FFF;
    --secondary-button-color: #64536f;
    --secondary-button-color-hover: #080f14;
    --secondary-button-color-active: #162835;
    --secondary-button-text-color: #FFF;
    --dropdown-color: #f9f9f9;
    --morse-input-color: #FFF;
    --morse-input-text-color: #000;
    --logo-grad-start: #000;
    --logo-grad-stop: #b6e4ee;
    --linear-gradient-start: #d2fbfb;
    --linear-gradient-stop: #57b1ff;
    --top-tab-text: #333;
    --bubbles-color: #f9a0ff4f;
    --bubbles-color-secondary: #57b1ff2b;
*/


.start {
  stop-color: var(--logo-grad-start);
}

.stop {
  stop-color: var(--logo-grad-stop);
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
}

/* use viewport-relative units to cover page fully */

body {
  height: 100vh;
  width: 100vw;
}

/* include border and padding in element width and height */

* {
  box-sizing: border-box;
}

/* full-sized  container that fills up the page */

app-root {
  height: 100%;
  width: 100%;
  /* example padding, font-size, background, etc */
  padding: 10px;
  font-size: 20px;
}

.blue-button {
  background: var(--secondary-button-color);
  user-select: none;
  color: var(--secondary-button-text-color);
}

.blue-button:hover {
  background: var(--secondary-button-color-hover);
}

.blue-button:active {
  background: var(--secondary-button-color-active);
}

.orange-button {
  background: var(--primary-button-color);
  color: var(--primary-button-text-color);
  user-select: none;
}

.orange-button:hover {
  background: var(--primary-button-color-hover);
}

.orange-button:active {
  background: var(--primary-button-color-active);
}