@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
* {
  font-family: Rubik, sans-serif;
}

:root {
}



.start {
  stop-color: var(--logo-grad-start);
}

.stop {
  stop-color: var(--logo-grad-stop);
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
}

/* use viewport-relative units to cover page fully */

body {
  height: 100vh;
  width: 100vw;
}

/* include border and padding in element width and height */

* {
  box-sizing: border-box;
}

/* full-sized  container that fills up the page */

app-root {
  height: 100%;
  width: 100%;
  /* example padding, font-size, background, etc */
  padding: 10px;
  font-size: 20px;
}

.blue-button {
  background: var(--secondary-button-color);
  user-select: none;
  color: var(--secondary-button-text-color);
}

.blue-button:hover {
  background: var(--secondary-button-color-hover);
}

.blue-button:active {
  background: var(--secondary-button-color-active);
}

.orange-button {
  background: var(--primary-button-color);
  color: var(--primary-button-text-color);
  user-select: none;
}

.orange-button:hover {
  background: var(--primary-button-color-hover);
}

.orange-button:active {
  background: var(--primary-button-color-active);
}